@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.cfatecnologia.com.br">CFA Tecnologia</a>
</address>
